;; 通联数据
{:token  ""  ;; should replace this token by yours
 :base  "https://api.wmcloud.com:443/data"
 :sec-id "/api/master/getSecID.csv?ticker=%s&partyID=%s&cnSpell=%s&assetClass=%s&field=%s"
 :hk-equ  "/api/HKequity/getHKEqu.csv?ticker=%s&listStatusCD=%s&secID=%s&field=%s"
 :mktequd "/api/market/getMktEqud.csv?ticker=%s&secID=%s&tradeDate=%s&beginDate=%s&endDate=%s&field=%s"
 :mkthkequd "/api/market/getMktHKEqud.csv?ticker=%s&secID=%s&tradeDate=%s&beginDate=%s&endDate=%s&field=%s"
 :bar-hist-one-day "/api/market/getBarHistOneDay.csv?securityID=%s&date=%s&endTime=%s&startTime=%s&field=%s"
 :bar-rt-intra-day "/api/market/getBarRTIntraDay.csv?securityID=%s&startTime=%s&endTime=%s&field=%s"
 :base-path  "E:/work/autorun/cspbox/test/cspbox/lib/history/data/"
 }

